body{
	color:#676767;
}

h1{
	
	font-size:35px;
	font-family: $base-font;
	font-weight: 400;
	font-style: italic;
	color:#fff;
}

h2{
	font-size: 30px;
	color:#fff;
	font-family: $base-font;
	
	&.primary{
		font-style:italic;
		color:$primary-color;
		font-weight: bold;
	}

	&.secondary{
		color:$secondary-color;
	}

	&.center{
		text-align: center;
	}
}

.clearfix:after{
	clear:both;
	display: table;
	content:"";
	
}