.footer{
	height:150px;
	background-color: #353564;
	font-size: 15px;
	font-family: Lato;
	color:#cccccc;
	line-height:22px;
	

	
	.container{
		height:100%;
	}
	
	.copyright{
		position:relative;
		top:50%;
		transform: translate(0, -50%);
		float:left;
	}

	.social{
		float:right;
		position:relative;
		top:50%;
		transform: translate(0, -50%);
	}

	.social-item{
		float:left;
		background-color:$primary-color;
		width:50px;
		margin-left:10px;
		text-align: center;
		position:relative;
		line-height:1;
		transition:background-color .3s;
		
		&:hover{
			background-color: transparent;
			cursor:pointer;
			
			i{
				color:$primary-color;
				transition:color .3s;
			}
		}
		
		div{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			vertical-align:middle;


			&::after{
						content: '';
						height: 100%;
						display: inline-block;
						vertical-align: middle;
					}
		}

		

		i {
		    color:#25254e;
		}
	}

	.social-item::after{
		content:'';
		display: block;
		padding-bottom: 100%;
	}
}
