.footer{
	height:150px;
	background-color: #353564;
	font-size: 15px;
	font-family: Lato;
	color:#cccccc;
	line-height:22px;
	

	
	.container{
		height:100%;
	}
	
	.copyright{
		position:relative;
		top:50%;
		transform: translate(0, -50%);
		float:left;
	}

	.social{
		float:right;
		position:relative;
		top:50%;
		transform: translate(0, -50%)

	}

	.social-item{
		float:left;
		background-color:$primary-color;
		
		width:50px;
		margin-left:10px;
		text-align: center;
		
	}

	.social-item::after{
		content:'';
		display: block;
		padding-bottom: 100%;
	}
}
