
.movie-list-1 {
		padding: 100px 0;
		text-align: center;

	.movie-list-title {
		color: #ffa820;
		font-family: Lato;
		font-size: 30px;
		font-weight: 700;
		font-style: italic;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.movie-list-title-text {
		color: #676767;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}
	.movie-list-item {
		font-size: 0px;
		margin: 75px 0 20px;
	}
	.col-4 {
		display: inline-block;
		margin-right: 30px;
		width: 270px;
	}
	.col-4:nth-child(4n) {
 		margin-right: 0;
 	}

}
