
.movie-list {
		padding: 100px 0;
		text-align: center;

	.movie-list-title {
		color: #ffa820;
		font-family: Lato;
		font-size: 30px;
		font-weight: 700;
		font-style: italic;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.movie-list-title-text {
		color: #676767;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}
	
	.movie-list-item {
		font-size: 0px;
		margin: 75px 0 20px;
	
	.col-4 {
		display: inline-block;
		margin-right: 30px;
		width: 270px;
		height: auto;
		vertical-align: top;
		text-align: left;
	}
	.col-4:nth-child(4n) {
 		margin-right: 0;
 	}
 	.movie-list-item-title {
 		color: #25254e;
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		margin: 20px 0 6px;
 	}
 	.movie-list-item-stars {
 		width: 75px;
		height: 12px;
		font-family: FontAwesome;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		font-style: normal;
 	}
 	.movie-list-item-price {
 		color: #25254e;
		font-family: "Myriad Pro";
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		vertical-align: middle;
		margin-bottom: 24px;
 	}
 	.movie-list-item-price-old {
 		color: #ccc;
		font-family: "Myriad Pro";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		vertical-align: middle;
 	}
 	.price-3d {
 		line-height: 30px;
 		height: 30px;
 		.movie-list-button {
 			float: right;
 			.btn-m {
 				color: white;
				font-family: Lato;
				font-size: 13px;
				font-weight: 400;
				line-height: 24px;
 				margin-right: 2px;
 			}
 			.btn-m:nth-last-child(1) {
 				margin-right: 0;
 			}
 			.add-to-cart-k {
 				color: #25254e;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				font-family: FontAwesome;
				.add-to-cart {
					font-family: Lato;
				}
 			}
 		}
	 	
 	}
 	.starability-basic {
	    display: block;
	    position: relative;
	    width: 75px;
	    min-height: 12px;
	    padding: 0;
	    border: none;
	    margin-bottom: 16px;
    }
    .starability-basic>label {
	    position: relative;
	    display: inline-block;
	    float: right;
	    width: 12px;
	    height: 12px;
	    color: transparent;
	    cursor: pointer;
	    background-image: url(/img/icons.png);
	    background-repeat: no-repeat;
        background-size: cover;
        margin-right: 3px;
    }
    .starability-basic>input {
	    position: absolute;
	    opacity: 0;
	}
	.starability-basic>input:checked~label, 
	.starability-basic>input:focus~label, 
	.starability-basic>input:hover~label {
    background-position: 0 -12px;
	}
	
}
}
