@import "core/_reset.scss";
@import "core/_variables.scss";

@import "_base.scss";

@import "_layout.scss";
@import "blocks/_index.scss";

@import "components/_button.scss";
@import "_header.scss";
@import "blocks/homepage/_preview.scss";
@import "blocks/homepage/_movie-list.scss";
@import "blocks/homepage/_video-preview.scss";
@import "blocks/homepage/_review.scss";


@import "_footer.scss";