.video-preview{
	background-image: url("../img/video-preview.jpg");
	padding:150px 0;
	background-size:cover;
	text-align: center;

		&::after{
			content:'';
			display: inline-block;
			height:100%;
			vertical-align: middle;
		}
		
		i{
			color:#fff;
			font-size: 100px;
			cursor: pointer;
			transition: color .3s;
			
			&:hover{
				color: $primary-color;
				
			}	
		}
}
	