<section class="movie-list">
	<div class="container">
		<h2 class="movie-list-title">Popular downloads</h2>
		<p class="movie-list-title-text">the most downloaded movies</p>
		<ul class="movie-list-item">
			<li class="col-4">
				<img src="/img/layer-28.jpg">
				<h3 class="movie-list-item-title">Lucy - 2014</h3>
			    <form>
			      	<fieldset class="starability-basic">
				        <legend>Default star rating:</legend>
				        <input type="radio" id="rate5" name="rating" value="5" />
				        <label for="rate5" title="Amazing">5 stars</label>
				        <input type="radio" id="rate4" name="rating" value="4" />
				        <label for="rate4" title="Very good">4 stars</label>
				        <input type="radio" id="rate3" name="rating" value="3" />
				        <label for="rate3" title="Average">3 stars</label>
				        <input type="radio" id="rate2" name="rating" value="2" />
				        <label for="rate2" title="Not good">2 stars</label>
				        <input type="radio" id="rate1" name="rating" value="1" />
				        <label for="rate1" title="Terrible">1 star</label>
			      </fieldset>
    			</form>
				<div class="price-3d clearfix">
					<div class="movie-list-button">
						<button class="btn btn-mini btn-green btn-m">3D</button>
						<button class="btn btn-mini btn-green btn-m">1080p</button>
						<button class="btn btn-mini btn-green btn-m">720p</button>
					</div>
					<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
				</div>	
				<button class="btn btn-full">
					<p class="add-to-cart-k"></p>
					<p class="add-to-cart">Add to cart</p>
				</button>
			</li>
			<li class="col-4">
				<img src="/img/layer-28.jpg">
				<h3 class="movie-list-item-title">Lucy - 2014</h3>
			    <form>
			      	<fieldset class="starability-basic">
				        <legend>Default star rating:</legend>
				        <input type="radio" id="rate5" name="rating" value="5" />
				        <label for="rate5" title="Amazing">5 stars</label>
				        <input type="radio" id="rate4" name="rating" value="4" />
				        <label for="rate4" title="Very good">4 stars</label>
				        <input type="radio" id="rate3" name="rating" value="3" />
				        <label for="rate3" title="Average">3 stars</label>
				        <input type="radio" id="rate2" name="rating" value="2" />
				        <label for="rate2" title="Not good">2 stars</label>
				        <input type="radio" id="rate1" name="rating" value="1" />
				        <label for="rate1" title="Terrible">1 star</label>
			      </fieldset>
    			</form>
				<div class="price-3d clearfix">
					<div class="movie-list-button">
						<button class="btn btn-mini btn-green btn-m">3D</button>
						<button class="btn btn-mini btn-green btn-m">1080p</button>
						<button class="btn btn-mini btn-green btn-m">720p</button>
					</div>
					<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
				</div>	
				<button class="btn btn-full">
					<p class="add-to-cart-k"></p>
					<p class="add-to-cart">Add to cart</p>
				</button>
			</li>
			<li class="col-4">
				<img src="/img/layer-28.jpg">
				<h3 class="movie-list-item-title">Lucy - 2014</h3>
			    <form>
			      	<fieldset class="starability-basic">
				        <legend>Default star rating:</legend>
				        <input type="radio" id="rate5" name="rating" value="5" />
				        <label for="rate5" title="Amazing">5 stars</label>
				        <input type="radio" id="rate4" name="rating" value="4" />
				        <label for="rate4" title="Very good">4 stars</label>
				        <input type="radio" id="rate3" name="rating" value="3" />
				        <label for="rate3" title="Average">3 stars</label>
				        <input type="radio" id="rate2" name="rating" value="2" />
				        <label for="rate2" title="Not good">2 stars</label>
				        <input type="radio" id="rate1" name="rating" value="1" />
				        <label for="rate1" title="Terrible">1 star</label>
			      </fieldset>
    			</form>
				<div class="price-3d clearfix">
					<div class="movie-list-button">
						<button class="btn btn-mini btn-green btn-m">3D</button>
						<button class="btn btn-mini btn-green btn-m">1080p</button>
						<button class="btn btn-mini btn-green btn-m">720p</button>
					</div>
					<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
				</div>	
				<button class="btn btn-full">
					<p class="add-to-cart-k"></p>
					<p class="add-to-cart">Add to cart</p>
				</button>
			</li>
			<li class="col-4">
				<img src="/img/layer-28.jpg">
				<h3 class="movie-list-item-title">Lucy - 2014</h3>
			    <form>
			      	<fieldset class="starability-basic">
				        <legend>Default star rating:</legend>
				        <input type="radio" id="rate5" name="rating" value="5" />
				        <label for="rate5" title="Amazing">5 stars</label>
				        <input type="radio" id="rate4" name="rating" value="4" />
				        <label for="rate4" title="Very good">4 stars</label>
				        <input type="radio" id="rate3" name="rating" value="3" />
				        <label for="rate3" title="Average">3 stars</label>
				        <input type="radio" id="rate2" name="rating" value="2" />
				        <label for="rate2" title="Not good">2 stars</label>
				        <input type="radio" id="rate1" name="rating" value="1" />
				        <label for="rate1" title="Terrible">1 star</label>
			      </fieldset>
    			</form>
				<div class="price-3d clearfix">
					<div class="movie-list-button">
						<button class="btn btn-mini btn-green btn-m">3D</button>
						<button class="btn btn-mini btn-green btn-m">1080p</button>
						<button class="btn btn-mini btn-green btn-m">720p</button>
					</div>
					<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
				</div>	
				<button class="btn btn-full">
					<p class="add-to-cart-k"></p>
					<p class="add-to-cart">Add to cart</p>
				</button>
			</li>
		</ul>
	</div>
</section>