<ul class="movie-list">
	<li class="col-4">
		<img src="../img/layer-28.jpg">
		<h3 class="movie-list-item-title">Lucy - 2014</h3>
      	<fieldset class="rating">
	      	<p class="rating rating-on">   </p> 
	      	<p class="rating rating-off"> </p> 
      	</fieldset>
		<div class="price-3d clearfix">
			<div class="movie-list-button">
				<button class="btn btn-mini btn-green btn-m">3D</button>
				<button class="btn btn-mini btn-green btn-m">1080p</button>
				<button class="btn btn-mini btn-green btn-m">720p</button>
			</div>
			<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
		</div>	
		<button class="btn btn-full">
			<p class="add-to-cart-k"></p>
			<p class="add-to-cart">Add to cart</p>
		</button>
	</li>
	<li class="col-4">
		<img src="../img/layer-28.jpg">
		<h3 class="movie-list-item-title">Lucy - 2014</h3>
      	<fieldset class="rating">
	      	<p class="rating rating-on">   </p> 
	      	<p class="rating rating-off"> </p> 
      	</fieldset>
		<div class="price-3d clearfix">
			<div class="movie-list-button">
				<button class="btn btn-mini btn-green btn-m">3D</button>
				<button class="btn btn-mini btn-green btn-m">1080p</button>
				<button class="btn btn-mini btn-green btn-m">720p</button>
			</div>
			<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
		</div>	
		<button class="btn btn-full">
			<p class="add-to-cart-k"></p>
			<p class="add-to-cart">Add to cart</p>
		</button>
	</li>
	<li class="col-4">
		<img src="../img/layer-28.jpg">
		<h3 class="movie-list-item-title">Lucy - 2014</h3>
      	<fieldset class="rating">
	      	<p class="rating rating-on">   </p> 
	      	<p class="rating rating-off"> </p> 
      	</fieldset>
		<div class="price-3d clearfix">
			<div class="movie-list-button">
				<button class="btn btn-mini btn-green btn-m">3D</button>
				<button class="btn btn-mini btn-green btn-m">1080p</button>
				<button class="btn btn-mini btn-green btn-m">720p</button>
			</div>
			<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
		</div>	
		<button class="btn btn-full">
			<p class="add-to-cart-k"></p>
			<p class="add-to-cart">Add to cart</p>
		</button>
	</li>
	<li class="col-4">
		<img src="../img/layer-28.jpg">
		<h3 class="movie-list-item-title">Lucy - 2014</h3>
      	<fieldset class="rating">
	      	<p class="rating rating-on">   </p> 
	      	<p class="rating rating-off"> </p> 
      	</fieldset>
		<div class="price-3d clearfix">
			<div class="movie-list-button">
				<button class="btn btn-mini btn-green btn-m">3D</button>
				<button class="btn btn-mini btn-green btn-m">1080p</button>
				<button class="btn btn-mini btn-green btn-m">720p</button>
			</div>
			<p class="movie-list-item-price">$20 <span class="movie-list-item-price-old">$30</span></p>
		</div>	
		<button class="btn btn-full">
			<p class="add-to-cart-k"></p>
			<p class="add-to-cart">Add to cart</p>
		</button>
	</li>
</ul>