<footer class="footer">
	<div class="container clearfix">
		<div class="copyright">
			all copyrights are reserved for Aflam &copy; 2015
		</div>

		<ul class="social clearfix">
			<li class="social-item">
				<div>
					<i class="fa fa-rss" aria-hidden="true"></i>
				</div>
			</li>
			<li class="social-item">
				<div>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
			</li>
			<li class="social-item">
				<div>
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</div>
			</li>
		</ul>
	</div>
</footer>