<section class="movie_filter_cont">

		<ul class="menu_filter">
			<li class="menu__item"><p class="crct">Quality</p>
				<ul class="menu-sub">
					<li class="menu-sub__item">240p</li>
					<li class="menu-sub__item">360p</li>
					<li class="menu-sub__item">480p</li>
					<li class="menu-sub__item">720p</li>
					<li class="menu-sub__item">1080p</li>
				</ul>
			</li>
			<li class="menu__item"><p class="crct">Genre</p>
				<ul class="menu-sub">
					<li class="menu-sub__item">Арт-Хаус</li>
					<li class="menu-sub__item">Драмы</li>
					<li class="menu-sub__item">Комедии</li>
					<li class="menu-sub__item">Спортивные</li>
					<li class="menu-sub__item">Ужасы</li>
				</ul>
			</li>
			<li class="menu__item"><p class="crct">Rating</p>
				<ul class="menu-sub">
					<li class="menu-sub__item">Популярные</li>
					<li class="menu-sub__item">Последние</li>
					<li class="menu-sub__item">Рекомендации</li>
					<li class="menu-sub__item">Новинки в Кино</li>
					<li class="menu-sub__item">Топ 100</li>
				</ul>
			</li>
			<li class="menu__item"><p class="crct">Language</p>
				<ul class="menu-sub">
					<li class="menu-sub__item">English</li>
					<li class="menu-sub__item">Українська</li>
					<li class="menu-sub__item">Казакша</li>
					<li class="menu-sub__item">Беларуская</li>
					<li class="menu-sub__item">Eesti</li>
				</ul>
			</li>
			
		</ul>
	</section>